/*--------------state-switch---------------*/
.is-fixed{width:880px; margin-left:auto; margin-right:auto}

.switch{width:25px; height:12px; position:absolute; cursor:pointer; bottom:10px; right:10px; background:url(../images/switch.png) 0 0}
    .switch-slider{width:13px; vertical-align:top; height:10px; display:inline-block; background:url(../images/switch.png) -1px -12px}



